# Bonus Lab 1 — Lambda Expressions

This short lab gives you targeted, hands-on practice with **lambda** expressions in Python.

**Goal:** get comfortable using `lambda` with `sorted`, `map`, `filter`, and friends.

**Instructions**
- Write your code in the provided cells under each prompt.
- Unless specified otherwise, **do not** import external libraries (standard library OK).
- Keep your functions as one-liners with `lambda` when it’s natural to do so.
- Run cells as you go; some prompts include quick self-checks.

## Quick Reference
```python
lambda args: expression

# Common combos
sorted(seq, key=lambda x: ...)
map(lambda x: ..., iterable)
filter(lambda x: condition, iterable)
from functools import reduce
reduce(lambda acc, x: ..., iterable, start)
```

## Warm-ups

**Q1. Square each number.**

Given `nums = [1, 2, 3, 4]`, create `squares` using `map` and a `lambda`.

In [ ]:
nums = [1, 2, 3, 4]
# your code here
list(map(lambda x: x**2, nums))

[1, 8, 27, 64]

**Practice 1A.** Cube each number in `nums = [1, 2, 3, 4]` using `map` + `lambda`.

In [ ]:
nums = [1, 2, 3, 4]

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0]

**Practice 1B.** Given `nums = [1, 2, 3, 4]`, use `map` + `lambda` to find the square root of each number.

1
4
9
16

**Q2. Keep only short words (≤3 chars).**

Given `words = ['cs', 'python', 'dog', 'ai', 'ml']`, use `filter` + `lambda`.

In [ ]:
words = ["cs", "python", "dog", "ai", "ml"]
# your code here
short = list(filter(lambda w: len(w) <= 3, words))
short

['cs', 'dog', 'ai', 'ml']

**Practice 2A.** Use `filter` + `lambda` to keep only words longer than 3 characters.

In [ ]:
# your code here

['cs', 'dog', 'ai', 'ml']

**Practice 2B.** Use `map` + `lambda` to return the length of each word.

[2, 6, 3, 2, 2]

**Practice 2C.** Return even length words in `words`.

['cs', 'python', 'ai', 'ml']

## Sorting with `key=`

**Q3. Sort tuples by the second element.**

Given `pairs = [(1, 'b'), (3, 'a'), (2, 'c')]`, sort by the letter.

In [5]:
pairs = [(1, "b"), (1, "a"), (2, "c")]
# your code here
sorted_pairs = sorted(pairs, key=lambda t: t[1])
sorted_pairs

[(1, 'a'), (1, 'b'), (2, 'c')]

**Practice 3A.** Sort `pairs` by the numeric value (first element).

[(1, 'a'), (1, 'b'), (2, 'c')]

**Practice 3B.** Sort `pairs2` by the sum of both elements.

[(2, 1), (1, 3), (4, 2), (3, 6)]

**Q4. Sort (stable) by length, then alphabetically.**

Given `animals = ['cat', 'elephant', 'ant', 'dog', 'horse']`, produce `['ant','cat','dog','horse','elephant']`.

Hint: either sort twice (stable) or use a tuple key.

In [14]:
animals = ["cat", "elephant", "ant", "dog", "horse"]
# Sort twice
result = sorted(animals, key=lambda w: w)
result = sorted(result, key=lambda w: len(w))
print(result)
# option A: tuple key in one pass
result = sorted(animals, key=lambda w: (len(w), w))
print(result)

['ant', 'cat', 'dog', 'horse', 'elephant']
['ant', 'cat', 'dog', 'horse', 'elephant']

**Practice 4A.** Sort `animals = ['cat', 'elephant', 'ant', 'dog', 'horse']` by reverse length.

In [ ]:
animals = ["cat", "elephant", "ant", "dog", "horse"]

['elephant', 'horse', 'cat', 'ant', 'dog']

**Practice 4B.** Sort `animals` alphabetically by the last letter of each word.

['horse', 'dog', 'cat', 'elephant', 'ant']

**Practice 4C.** Sort `animals` alphabetically but ignoring the first letter of each word.

['at', 'lephant', 'nt', 'og', 'orse']

**Q5. Case-insensitive sort of names.**

Given `names = ['alice', 'Bob', 'carol', 'ALAN']`, sort ignoring case but keep original casing in output.

In [32]:
names = ["alice", "BOB", "carol", "ALAN"]
# your code here
ci_sorted = sorted(names, key=lambda s: s.lower())
ci_sorted

['ALAN', 'alice', 'BOB', 'carol']

**Practice 5A.** Sort `names` by length

['Bob', 'ALAN', 'alice', 'carol']

**Practice 5B.** Sort `names` so words that are all uppercase names come first, then lowercase.

['ALAN', 'BOB', 'alice', 'carol']

## Transforming with `map`

**Q6. Extract last names.**

Given `people = ['Ada Lovelace', 'Alan Turing', 'Grace Hopper']`, build a list of last names in **uppercase**.

In [4]:
people = ["Ada Lovelace", "Alan Turing", "Grace Hopper"]
# your code here
last_upper = list(map(lambda full: full.split()[-1].upper(), people))
last_upper

['LOVELACE', 'TURING', 'HOPPER']

**Practice 6A.** From `people`, extract the first names in lowercase.

**Practice 6B.** From the same list, build tuples of `(first_name, length_of_last_name)`.

**Q7. Convert list of dicts to (name, age) tuples.**

Given `records = [{'name':'Ana','age':21},{'name':'Bo','age':19}]`, build `[('Ana',21),('Bo',19)]`.

In [ ]:
records = [{"name": "Ana", "age": 21}, {"name": "Bo", "age": 19}]
# your code here
name_age = list(map(lambda r: (r["name"], r["age"]), records))
name_age

**Practice 7A.** From `records`, extract just the ages using `map`.

**Practice 7B.** Build a list of strings like `"Ana is 21"` from the same data.

## Filtering with conditions

**Q8. Filter dicts by field.**

From `students = [{'name':'Kai','gpa':3.2},{'name':'Mo','gpa':2.7},{'name':'Li','gpa':3.8}]`, keep GPA ≥ 3.0.

In [ ]:
students = [
    {"name": "Kai", "gpa": 3.2},
    {"name": "Mo", "gpa": 2.7},
    {"name": "Li", "gpa": 3.8},
]
# your code here
deans = list(filter(lambda s: s["gpa"] >= 3.0, students))
deans

**Practice 8A.** From `students`, filter those with GPA < 3.0.

**Practice 8B.** Use `map` + `lambda` to extract the names of all students, regardless of GPA.

## Reducing / aggregating (Optional)

`reduce` repeatedly applies a function to the elements of an iterable, accumulating a single result.

`reduce(function, iterable, initializer)`

- `function`: a 2-argument function (often a lambda)
- `iterable`: the sequence of values you want to combine
- `initializer` (optional): a starting value for the accumulation

**Q9. Product of a list.**

Compute the product of `nums = [2,3,4,5]` using `functools.reduce` and a `lambda`.

In [2]:
from functools import reduce

nums = [1, 2, 3, 4]
# your code here
prod = reduce(lambda acc, x: acc + x, nums, 0)  # sum nums starting from 0
prod

10

How it works:

1. Start with initializer = 0.
2. Apply lambda acc, x: acc + x to 0 and first element 1 → result = 1.
3. Feed result 1 and next element 2 → result = 3.
4. Feed result 3 and next element 3 → result = 6.
5. Feed result 6 and next element 4 → result = 10.

Final output: 10.

**Practice 9A.** Compute the product of `nums` using `reduce` + `lambda`.

**Practice 9B.** Compute the maximum of the same list using `reduce` + `lambda`.

## Combined Challenge (Optional)

**Q10. Top 3 longest unique words (case-insensitive).**

Given `text = 'To be, or not to be, that is the Question'`:
1) tokenize into words (letters only),
2) lowercase,
3) take unique words,
4) return the **top 3 by length**, breaking ties alphabetically.

In [ ]:
import re

text = "To be, or not to be, that is the Question"
# scans the string and returns all non-overlapping matches of the regex as a list.
# [A-Za-z]+ is a regex that matches one or more ASCII letters only
words = re.findall(r"[A-Za-z]+", text)
unique = sorted(set(map(lambda w: w.lower(), words)), key=lambda w: (-len(w), w))
top3 = unique[:3]
top3

['question', 'that', 'not']

**Practice 10A.** Modify the task to return the **shortest 3 unique words** instead of the longest.

**Practice 10B.** Return the same result but sorted **alphabetically only** (ignore length).

### Multi-key sorting

**Q11. Multi-key sort of transactions.**
Given a list of `txns`, sort by **descending amount**, then by `user` ascending.
Use a single `key` lambda and only built-ins.

In [4]:
txns = [
    {"user": "c", "amount": 5.0},
    {"user": "b", "amount": 12.5},
    {"user": "a", "amount": 12.5},
    {"user": "b", "amount": 7.0},
]
ranked = sorted(txns, key=lambda t: (-t["amount"], t["user"]))
ranked

[{'user': 'a', 'amount': 12.5},
 {'user': 'b', 'amount': 12.5},
 {'user': 'b', 'amount': 7.0},
 {'user': 'c', 'amount': 5.0}]

**Practice 11A.** Sort transactions by `user` only, alphabetically.

In [ ]:
sorted(txns, key=lambda t: t["user"])

[{'user': 'a', 'amount': 12.5},
 {'user': 'b', 'amount': 12.5},
 {'user': 'b', 'amount': 7.0},
 {'user': 'c', 'amount': 5.0}]

**Practice 11B.** Sort transactions by ascending `amount`, but break ties by **descending** username.

In [7]:
sorted(txns, key=lambda t: (t["amount"], t["user"]))

[{'user': 'c', 'amount': 5.0},
 {'user': 'b', 'amount': 7.0},
 {'user': 'a', 'amount': 12.5},
 {'user': 'b', 'amount': 12.5}]