# CSCI 3143 - Lab 1: Data Types

**Name:** ______

In [ ]:
from datetime import date

print("Date:", date.today().strftime("%Y-%m-%d"))

Date: 2025-09-02

## Before you Begin

These labs are designed for you to work through the problems using your **own ideas**, with support and collaboration during class time. Struggling productively is a critical part of the learning process — it strengthens your problem-solving skills, deepens your understanding, and prepares you for more advanced challenges.

While you may consult outside resources when absolutely necessary, reliance on AI-generated solutions or extensive help from others can *short-circuit* your learning and leave you without the skills this course is intended to develop.

If you refer to AI-generated solutions for any part of your work, please simply note **"Used AI"** for that problem. Your honesty will help me structure and support your learning more effectively.

## Instructions

Review the following notes, then use the following problems to practice operations on the listed data types. No outside libraries shoudl be necessary, with the exception of specific libraries mentioned (e.g., `math`).

For another exposure of the topics covered in this lab, see **Section 1.8** of the online textbook:
https://runestone.academy/ns/books/published/USAO_DataScience_F25/introduction_getting-started-with-data.html

## Atomic Data Types

*Atomic (scalar) data types* are single, indivisible values like integers, floating‑point numbers, and booleans; they are not composed of smaller addressable elements.

### Integers (int)

**Operation menu (reference)**
- Arithmetic: `+`, `-`, `*`, `/`, `//` (floor division), `%` (modulo), `**` (power)
- Built-ins: `abs(x)`, `pow(x, y[, mod])`, `round(x)`, `divmod(a, b)`
- Comparison: `==`, `!=`, `<`, `<=`, `>`, `>=`
- Conversions: `int(x)`, `str(x)`
- Other: `min()`, `max()`

1. Compute the remainder when `137` is divided by `12`.

2. Using **floor division**, find how many full dozens are in `137`. (Refers to #1 values only for context.)

3. Evaluate $3^5$ two ways—using `**` and `pow()`—then confirm the results are equal.

4. Use `divmod(137, 12)`; unpack the result into `q, r`.

5. Given `price_cents = 2599`, **use `//` and `%`** to compute whole dollars and leftover cents.

In [5]:
price_cents = 2599

6. Let `n = 12345`. Extract the **last two digits** without converting to a string.

In [6]:
n = 12345

7. True/False: `int(3.999) == 3` and what does `round(3.5)` produce in Python? (Show the expressions.)

8. Write a one‑liner that returns the **last digit** of any nonnegative `n`.

In [7]:
n = 24

9. Write a short expression that is `True` iff an integer `n` is **divisible by both 2 and 3**.

In [8]:
n = 24

### Floats (float)

You may import `math` for square roots and related functions: `import math` (e.g., `math.sqrt(...)`).

**Operation menu (reference)**
- Arithmetic: `+`, `-`, `*`, `/`, `**`
- Built-ins: `round(x, ndigits)`, `abs(x)`
- Conversions: `float(x)`, `int(x)` (truncates), `str(x)`
- Comparison: beware precision; prefer tolerances like `abs(a-b) < 1e-9`

1. Compute `1/3` and then `round(1/3, 4)`.

2. Why is `0.1 + 0.2 == 0.3` often `False`? Demonstrate with a **tolerance check**.
*Hint:* Show both the raw sum and a boolean like `abs((0.1+0.2) - 0.3) < 1e-12`.

3. Convert Celsius `21.6` to Fahrenheit using `F = C*9/5 + 32`.

In [9]:
C = 21.6

4. Given `p = 19.99`, `tax = 0.0875`, compute total and round to 2 decimals.

In [10]:
p = 19.99
tax = 0.0875

5. **Means: arithmetic vs geometric vs harmonic**  
Use the definitions below to compute each mean for positive numbers $(x_1, x_2, \dots, x_n)$. Then, for a small set (e.g., $(x=\{1, 4, 16\})$), **find all three**.

- **Arithmetic mean:** $$\mathrm{AM} = \frac{1}{n}\sum_{i=1}^{n} x_i$$
- **Geometric mean:** $$\mathrm{GM} = \left(\prod_{i=1}^{n} x_i\right)^{1/n}$$
- **Harmonic mean:** $$\mathrm{HM} = \frac{n}{\sum_{i=1}^{n} \frac{1}{x_i}}$$

You may use `math.sqrt` for GM when $(n=2): ( \sqrt{x_1 x_2} )$.
You may use `math.prod` for product of numbers

In [ ]:
import math

x = [1, 4, 18]

AM = sum(x) / len(x)
GM = math.prod(x) ** (1 / len(x))
HM = len(x) / sum(1 / float(xi) for xi in x)

print("AM:", AM)
print("GM:", GM)
print("HM:", HM)

AM: 7.666666666666667
GM: 4.160167646103808
HM: 2.2978723404255317

6. For your above example, verify the Geometric-Arithmetic-Harmonic Mean inequality, which states that for any set of positive numbers:
$$HM \leq GM \leq AM$$

In [21]:
(HM <= GM) and (GM <= AM)
HM <= GM <= AM

True

7. Find a float `x` such that `x**0.5 + x**0.25` is an integer (or very close).

In [ ]:
16**0.5 + 16**0.25

6.0

### Booleans (bool)

**Operation menu (reference)**
- Literals: `True`, `False`
- Operators: `and`, `or`, `not`
- Comparisons return bools: `==`, `<`, `>=`, ...
- Membership: `in`, `not in`

1. Evaluate: `(3 < 5) and (10 % 2 == 0)`.

2. Evaluate: `(not True) or (7//3 == 2)`.

3. Let `n = 24`. Write a boolean that is `True` iff `n` is a multiple of 4 but not a multiple of 6. Then find an `n` such that this is the case.

In [ ]:
n = 24

4. Given `s = "concatenate"`, write a boolean that is `True` if `'cat'` appears in s

In [ ]:
s = "concatenate"

5. Let `x = data`. Write an expression that returns if `a` is in `x` more than once. Hint: use the iterable nature of x.

In [ ]:
x = "data"

6. Give two different expressions that evaluate to `True` and use all of `and`, `or`, `not`.

## Collection Data Types

*Collection data types* group multiple elements into a single object (ordered or unordered), such as lists, strings, tuples, and sets.

### Lists (list)

**Quick reference — common list operations**

| Method / op | Effect (brief) | Example | Mutates? | Complexity (avg) |
|---|---|---|---|---|
| `append(x)` | Add to end | `a.append(5)` | Yes | Amortized O(1) |
| `extend(iter)` | Add all items | `a.extend([6,7])` | Yes | O(k) |
| `insert(i,x)` | Insert at index | `a.insert(1, 99)` | Yes | O(n) |
| `pop(i)` | Remove & return item at index i (end by default) | `a.pop()` / `a.pop(2)` | Yes | O(1) end; O(n) index |
| `remove(x)` | Remove first `x` | `a.remove(3)` | Yes | O(n) |
| `clear()` | Remove all | `a.clear()` | Yes | O(n) |
| `sort(key=None, reverse=False)` | In-place sort | `a.sort()` | Yes | O(n log n) |
| `reverse()` | Reverse in-place | `a.reverse()` | Yes | O(n) |
| `sorted(a)` | Return new sorted list | `b = sorted(a)` | No | O(n log n) |
| Slicing `a[i:j:k]` | Sublist copy (i=start, j=end, k=step) | `a[1:4]` | No, unless used for assignment | O(k) |
| Concatenation `+` | Join lists | `a + b` | No | O(n+m) |
| Repetition `*k` | Repeat list | `[0]*5` | No | O(nk) |
| `in` / `not in` | Membership test | `3 in a` | No | O(n) |


1. Create a list `a = [3, 1, 4, 1, 5]`. Append `9`, then extend with `[2,6]`.

In [24]:
a = [3, 1, 4, 1, 5]

2. *(uses list from #1)* Insert `0` at the start; then pop the last element and store it in `last`.

3. *(uses list from #2)* Remove the first `1`; how many `1`s remain? (Avoid `count` if you can.)

4. *(uses list from #3)* Sort ascending, then reverse in-place. Show `a` after each step.

5. *(uses list from #4)* Make a **sorted copy** of the current `a` without mutating it.

6. *(uses list from #5)* slice out the **middle three elements** of `a` (works for any odd-length list).

7. *(uses list from #6)* Replace the **last two elements** of `a` with `[7,8]` using slicing assignment.

8. *(uses list from #6)* Deduplicate `a` while **preserving order** (no `set` in final output).

9. Build a list of squares from 0 to 10 inclusive.

10. Given `a`, produce a list of elements at **even indexes**.

In [1]:
a = list(range(0, 11))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

11. Split `a` into `head` (first k) and `tail` (rest) using slicing; try k=3.

In [ ]:
a = list(range(0, 11))
k = 3

12. Rotate `a` right by 2 positions (move every element right, wrapping around).

In [ ]:
a = list(range(0, 11))
a

13. Interleave two equal-length lists `x` and `y` into `[x0, y0, x1, y1, ...]`.

In [ ]:
x = list(range(0, 10, 2))
y = list(range(1, 11, 2))
print(x)
print(y)

In [2]:
z = []

14. Given `nums`, remove every item that appears **more than once** (keep only uniques).

In [ ]:
nums = [1, 2, 3, 1, 2, 3, 4, 5, 6, 5]

i = 1

15. From a nested list like `[[1,2],[3],[4,5,6]]`, produce a **flat** list.

In [ ]:
a = [[1, 2], [3], [4, 5, 6]]
flat_list = []

### Strings (str)

**Operation menu (reference)**
- Construction & basics: 
    - quotes - use "string" or 'string'
    - concatenation `+`
    - repetition `*`
    - length `len(s)`
- Indexing & slicing: `s[i]`, `s[a:b]`, `s[::-1]`
- Membership & find: `in`, `not in`, `find()`, `count()`
- **Immutability:** strings cannot be changed in-place (operations return new strings).
- Cleaning:
    - `partition(sep)` - separates string by `sep`
    - `strip()`/`lstrip()`/`rstrip` - strips leading and ending/leading/ending white spaces
    - `lower()`/`upper()` - turns letters to lower/uppercase
    - `'sep'.join(list)` - joins list by numbers
    - `'a,b,c'.split(',')` - splits by ',' into list
    - `replace(a,b)` - replaces a in string with b

> **Note:** Python strings are **immutable**. All operations return **new strings** (no in-place mutation).

| Method / op | Effect (brief) | Example | Returns | Mutates? | Complexity (rough) |
|---|---|---|---|---|---|
| `len(s)` | Length | `len("data")` | `int` | No | O(1) |
| `s[i]` | Index char | `"abc"[1]` | `str` (1-char) | No | O(1) |
| `s[a:b:k]` | Slice substring | `"abcdef"[1:5:2]` | `str` | No | O(k) |
| `s + t` | Concatenate | `"data" + "base"` | `str` | No | O(n+m) |
| `s * k` | Repeat | `"ha"*3` | `str` | No | O(n·k) |
| `'sub' in s` | Substring test | `"ata" in "data"` | `bool` | No | ~O(n) |
| `s.find(sub)` | First index or `-1` | `"banana".find("na")` | `int` | No | ~O(n) |
| `s.index(sub)` | Like `find`, error if missing | `"banana".index("na")` | `int` | No | ~O(n) |
| `s.count(sub)` | Occurrence count | `"banana".count("na")` | `int` | No | O(n) |
| `s.startswith(p)` | Prefix test | `"data".startswith("da")` | `bool` | No | ≤O(n) |
| `s.endswith(q)` | Suffix test | `"data".endswith("ta")` | `bool` | No | ≤O(n) |
| `s.lower()` / `s.upper()` | Case convert | `"Data".lower()` | `str` | No | O(n) |
| `s.strip()` / `lstrip()` / `rstrip()` | Trim whitespace/chars | `"  x  ".strip()` | `str` | No | O(n) |
| `s.replace(a, b[, k])` | Replace substrings | `"a-b-a".replace("a","x")` | `str` | No | O(n) |
| `s.split(sep)` | Split into parts | `"a,b,,c".split(",")` | `list[str]` | No | O(n) |
| `'sep'.join(seq)` | Join parts | `",".join(["a","b"])` | `str` | No | O(total) |
| `s.partition(sep)` | 3-way split (first) | `"a=b=c".partition("=")` | `tuple(str,str,str)` | No | O(n) |
| `s.splitlines()` | Split on newlines | `"a\nb".splitlines()` | `list[str]` | No | O(n) |
| `s.isalpha()` / `isdigit()` / `isalnum()` / `isspace()` | Character tests | `"abc".isalpha()` | `bool` | No | O(n) |
| `s.capitalize()` / `title()` / `swapcase()` / `casefold()` | Other case ops | `"ß".casefold()` | `str` | No | O(n) |
| `s.translate(tbl)` | Map/delete chars | `"abc".translate(tbl)` | `str` | No | O(n) |
| `f"{x}"` / `format()` | String formatting | `f"{3.14159:.2f}"` | `str` | No | O(output) |

0. **Concept Question:** What is the major difference between **strings** and **lists** in terms of **mutability**? (Answer briefly.)

**Examples:**

In [ ]:
s = "data structures"

1. Let `s = "data structures"`. Extract `"data"` and `"structures"` via slicing.

In [ ]:
s = "data structures"

2. Reverse `s` without a loop.

In [ ]:
# Or more simply

3. Convert `'  Mixed Case  '` to `'mixed case'` (strip + case).

In [ ]:
s = " Mixed Case "

4. Split `'a,b,,c'` on commas; what happens to empty fields? Rejoin with `;`.

In [ ]:
s = "a,b,,c"

5. Count how many `'a'` in `'abracadabra'` first using an iterable, and then using `count`.

In [ ]:
s = "abracadabra"

6. Replace all vowels in `'datascience'` with `*` (build a new string).

In [ ]:
s = "datascience"

7. Given `first, last = 'Ada', 'Lovelace'`, build `'Lovelace, Ada'`.

In [ ]:
first, last = "Ada", "Lovelace"

8. Test if two strings are **anagrams** (ignore case/spaces). (hint: treat words like lists, and use `sorted()`)

In [ ]:
s1 = "listen"
s2 = "silent"

9. From `'CSCI-3143: Lab 1'`, extract course number and lab number.

In [ ]:
course = "CSCI-3143: Lab 1"

### Tuples (tuple)

**Operation menu (reference)**
- Literals: `(1, 2)`, trailing comma singletons: `(3,)`
- Packing/unpacking: `a, b = (1, 2)`; `a, *mid, b = range(6)`
- Immutability: like a string, tuples cannot be changed; can contain mutable items
- Use cases: fixed records, dictionary keys, multiple returns

| Method / Operation       | Description                                         | Example                                | Returns         | Mutates? | Complexity (rough) |
|--------------------------|-----------------------------------------------------|-----------------------------------------|-----------------|----------|--------------------|
| `len(t)`                 | Number of elements in tuple                         | `len((1,2,3))`                          | `int`           | No       | O(1)               |
| `t[i]`                   | Index element                                       | `(1,2,3)[1]`                            | element         | No       | O(1)               |
| `t[a:b:k]`               | Slice tuple                                         | `(1,2,3,4)[1:3]`                         | tuple           | No       | O(k)               |
| `t1 + t2`                | Concatenate                                         | `(1,2) + (3,4)`                          | tuple           | No       | O(n+m)             |
| `t * k`                  | Repeat tuple                                        | `(1,2) * 3`                              | tuple           | No       | O(n·k)             |
| `x in t`                 | Membership test                                     | `2 in (1,2,3)`                           | bool            | No       | O(n)               |
| `t.count(x)`             | Count occurrences                                   | `(1,2,1).count(1)`                       | int             | No       | O(n)               |
| `t.index(x)`             | First index of `x` (error if missing)                | `(1,2,3).index(2)`                       | int             | No       | O(n)               |
| `min(t)` / `max(t)`      | Minimum / maximum element                           | `min((3,1,4))`                           | element         | No       | O(n)               |
| `tuple(iterable)`        | Create tuple from iterable                          | `tuple([1,2,3])`                         | tuple           | N/A      | O(n)               |
| `zip(a, b)`              | Pair elements from iterables into tuples            | `list(zip([1,2],[3,4]))`                 | list of tuples  | No       | O(min(n,m))        |
| `zip(*iterable)`         | Unzip: split list of tuples into separate iterables | `a,b = zip(*[(1,'x'), (2,'y')])`         | tuples          | No       | O(n)               |

1. Create a tuple `t = (3, 1, 4, 1, 5)`; try to view `[0]`. Then try to change `t[0] = 9`. What happens? Why is this?

In [ ]:
t = (3, 1, 4, 1, 5)

2. Unpack `t` into variables `a, b, c, d, e`.

3. Use extended unpacking to split `t` into `head, *mid, tail`.

4. Make a tuple from a list `L = [2,7,1,8]` and vice versa.

In [3]:
L = [2, 7, 1, 8]

# Convert list to tuple
T = ()

# Verify types
print(L, type(L))  # Original list
print(T, type(T))  # Converted tuple

[2, 7, 1, 8] <class 'list'>
() <class 'tuple'>

5. Given `pt = (3,4)`, compute its distance from origin (unpack then use `math`).

In [ ]:
import math

pt = (3, 4)

**Example:** Use tuples as dictionary keys: map `(row, col)` to a value.

In [ ]:
# Create an empty dictionary
grid = {}

# Use tuples (row, col) as keys
grid[(0, 0)] = "Start"
grid[(0, 1)] = "Path"
grid[(1, 0)] = "Wall"
grid[(1, 1)] = "Goal"

# Access a value
print(grid[(0, 0)])  # Start

# Loop through items
for position, value in grid.items():
    print(position, "=>", value)

In [ ]:
# Or define dictionary at once
{(0, 0): "Start", (1, 2): "Path", (3, 1): "Wall", (4, -1): "Goal"}

6. Sort a list of tuples by the **second** element.

In [ ]:
tupleList = [(0, 0), (1, 2), (3, 1), (4, -1)]

7. Create a tuple containing a list (e.g. `TL = ([1,2,3], [4,5], [1,7,8])`) and mutate the list inside to add a 9 to the first list (`TL[0]`). Does `TL` change?

In [ ]:
TL = ([1, 2, 3], [4, 5], [1, 7, 8])

8. Count occurrences of `1` in `t` using the tuple method.

In [ ]:
t = (1, 2, 3, 1, 4)

9. Zip two lists into a list of tuples; then unzip back to two lists. (Hint: use `zip()`, `zip(*)`, and `list()` methods)

In [ ]:
# Original lists
a = [1, 2, 3]
b = ["x", "y", "z"]

# Zip into a list of tuples


# Unzip back to two lists

10. Given `[(name, score)]`, get the **top 2** names by score.

In [ ]:
scores = [
    ("Mohand Ammad", 3.1416),
    ("CC Drye", 2.7183),
    ("Connor Lorwey", 6.022e23),
    ("Matija Malenovic", 1.6180),
    ("Leigha VanOrsdol", 42),
]

11. Given coordinates `[(x,y)]`, compute bounding box `(xmin, xmax, ymin, ymax)`. (Hint: use `zip(*)`.)

In [ ]:
points = [(0, 0), (3, 4), (-2, 5), (7, -1), (4, 4), (-3, -2), (1, 6), (-4, 3)]

**Bonus:** Given `pairs = [(1,'a'), (1,'b'), (2,'c')]`, group values by key (simple approach).

In [ ]:
pairs = [(1, "a"), (1, "b"), (2, "c")]

grouped = {}

### Sets (set)

**Operation menu (reference)**
- Construction: `set(iterable)`, `{1,2,3}`; empty set is `set()`
- Add/remove: `add(x)`, `remove(x)` (KeyError), `discard(x)`, `pop()`, `clear()`
- Set algebra: `|` union, `&` intersection, `-` difference, `^` symmetric difference
- Tests: `<=` subset, `<` proper subset, `>=` superset
- Use cases: deduplication, membership tests, set algebra on strings/lists


1. Make a set from `[1,2,2,3,3,3]`.

In [ ]:
x = [1, 2, 2, 3, 3, 3]

2. To your set in the previous problem, add `4`; then remove `2` safely (no error if absent).

3. Given `A = set('datascience')`, `B = set('structures')`, find the letters in both sets.

In [ ]:
A = set("datascience")
B = set("structures")

4. Compute letters in `A` but not in `B`.

5. Compute letters in **either** word but **not both**.

6. Check if `{1,2}` is a subset of `{1,2,3}` and a **proper** subset.

7. Deduplicate a list `nums` using a set; compare lengths before/after.

In [ ]:
nums = [1, 2, 1, 2, 3, 1, 2, 3, 4]

8. Find common letters among **three** words.

In [ ]:
a = "apple"
b = "hamburger"
c = "turkey"

9. Given two lists, list items that appear in **both** (ignore order & dups).

In [ ]:
a = [1, 4, 5, 6]
b = [2, 4, 6, 0]

10. Determine if two strings share **any** character in common. (Hint: you can use `set()` to denote empty set.)

In [ ]:
a = "octopus"
b = "ham"

## Work Source Scale

I value your learning process as much as your final answer. Using the table below and an honest assessment of your work, please **update your Source Score** below. (Please do this by adding an `x` inside appropriate brackets, `[x]`. This is for my understanding, not for grading.)

- [ ] **10** – I completed all of this work on my own (learning from other ideas or approaches from class).
- [ ] **8** – I completed most of this work on my own, with some out-of-class help (classmates or online resources).
- [ ] **6** – I relied on significant help from classmates or online resources but wrote my own final work.
- [ ] **4** – I used AI tools (e.g., ChatGPT, Copilot) to generate or guide large parts of the work, but I reviewed/edited them.
- [ ] **2** – I copied substantial portions of work from classmates or AI with minimal understanding.
- [ ] **0** – I copied the most work from another person or AI with little understanding.